.todoWrapper {
	border-bottom: 1px solid #efefef;
	text-align: left;
	margin-bottom: 10px;
}

.form-container {
	border-bottom: 2px solid;
	border-color: rgba(23, 21, 21, 0.7);
	padding-bottom: 40px;
}

.itemsWrapper {
	padding-top: 15px;
}

.addTodo, .todoText {
	outline: none;
	box-shadow: none;
	border-radius: 3px;
	border-style: solid;
	padding: 8px;
	color: rgba(203, 20, 32, 0.4);
	border-color: rgba(245, 21, 69, 0.7);
	background-color: transparent;
}

.todoText {
	width: 336px;
}

.addTodo {
	margin-left: 20px;
}

.addTodo:hover {
	cursor: pointer;
}